body {
    background-color: rgb(91, 84, 148);
}

h1 {
    text-align: center;
    font-family: fantasy;
    letter-spacing: 2px;
    color: rgb(241, 241, 221);
}
h2 {
    color: rgb(241, 241, 221);
}

div {
    background-color: rgb(35, 14, 56);
    border-radius: 20px;
}
.intro {
    align-self: center;
}
#input {
    text-align:center;
}

p {
    font-size: 18pt;
    font-family: sans-serif;
    text-align: center;
    color: rgb(241, 241, 221);
}

button {
    padding: 20px 15px;
    background-color: rgb(159, 186, 196);
    border-radius: 25px;
    font-weight: bolder;
    align-self: center;
    margin: 20px;
}

label {
    color: white;
}