body {
    --main-background-color: rgb(86, 83, 115);
    --main-text-color: rgb(241, 241, 221);
    --main-div-color: rgb(35, 14, 56);
    --main-accent-color: rgb(159, 186, 196);
    background-color: var(--main-background-color);
    margin: 0px;
    transition: 500ms;
    justify-content: center;
    align-items: center;
}

body.seasonal{
    --main-background-color: rgb(43, 0, 71);
    --main-text-color: rgb(128, 164, 170);
    --main-div-color: rgb(0, 0, 0);
    --main-accent-color: rgb(178, 121, 253);
    transition: 500ms;
}

h1, h4 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: var(--main-text-color);
}

label {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: var(--main-text-color);
    font-size: .85em;
}

div {
    background-color: var(--main-div-color);
    border-radius: 20px;
    margin: 0% 10%;
}

.intro, .prompt, .aboutMeKinda{
    align-self: center;
    text-align: center;
    padding: 10px 10%;
}

p {
    font-size: 18pt;
    font-family: monospace;
    text-align: center;
    color: var(--main-text-color);
    letter-spacing: -1px;
}

button {
    padding: 15px 15px;
    background-color: var(--main-accent-color);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    margin: 20px;
}

.information {
    font-size: 12px;
    font-family: monospace;
    padding: 0px;
    margin: 5px auto;
    text-align: center;
}

a, a:visited {
    color: var(--main-accent-color);
}


label, select{
    margin: 20px 10px;
}


@media screen and (max-width: 550px) { 
    div { 
        margin: 0px;  
        border-radius: 0px;
    }
    p {
        font-size: 16px ;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 680px) { 

    .intro, .prompt, .aboutMeKinda{
        padding: 14px 5%;
    }
}