body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons, #dropdownMenus, #accessibleFlashingDiv, #returnMain{
    display: flex;
    justify-content: center;
}


p{
    margin: 0
}